<body class="back-ground-black text-white-50">
<div>
  <div mat-dialog-title>Редактирование статуса ИС</div>
  <hr>
<!--  <p>Текущий статус: {{data.status.def}}</p>-->
  <form #myForm="ngForm" (ngSubmit)="saveModal()">
    <div>
      <mat-form-field appearance="fill">
<!--        <mat-label>Choose an option</mat-label>-->
        <mat-select value="{{data.status.id}}">
          <mat-option
            value="{{probationStatusesEnum.PASSED}}">{{getRusStatus(probationStatusesEnum.PASSED)}}</mat-option>
          <mat-option
            value="{{probationStatusesEnum.IN_PROGRESS}}">{{getRusStatus(probationStatusesEnum.IN_PROGRESS)}}</mat-option>
          <mat-option
            value="{{probationStatusesEnum.FAILED}}">{{getRusStatus(probationStatusesEnum.FAILED)}}</mat-option>
        </mat-select>
      </mat-form-field>
      <hr>
      <div style="position:relative; width: inherit">
        <button class="btn-success" mat-button type="submit">Подтвердить</button>
      </div>
    </div>
  </form>
</div>
</body>
