<html>

<body class="min-vh-100" style="flex: none">
<header class="high-line" [ngStyle]="{'visibility': isLoggedIn ? 'visible' : 'hidden'}">
      <div>
        Супер HRное приложение
      </div>
      <div id="content_window" style="display: none">Тут форма</div>
      <div class="pointer" [matMenuTriggerFor]="menu">
        <div class="login">
          {{user.userName}}
        </div>
        <div class="login ">
          <img class="img-color-white" src="assets/images/happy.png" alt="CAT" srcset="" width="24" height="24">
        </div>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Мой профиль</button>
        <button mat-menu-item (click)="logout()">Выйти</button>
      </mat-menu>
  </header>

  <div>
    <router-outlet></router-outlet>
  </div>

</body>
</html>

