<!--<div class="container">-->
<!--  <h1>Hello angular</h1>-->
<!--  <app-card></app-card>-->
<!--  <app-card></app-card>-->
<!--  <app-card></app-card>-->

<!--  <app-form></app-form>-->

<!--</div>-->

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <div class="card bg-dark my-5">-->
<!--        <div class="card-body">-->
<!--          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>-->
<!--          <ul class="text-center list-inline py-3">-->
<!--            <li class="list-inline-item">-->
<!--              <a routerLink="/users" class="btn btn-info">List Users</a>-->
<!--            </li>-->
<!--            <li class="list-inline-item">-->
<!--              <a routerLink="/adduser" class="btn btn-info">Add User</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--&lt;!&ndash;      <router-outlet></router-outlet>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="p-3 mb-2 bg-dark text-white">-->
  <div>
    <router-outlet></router-outlet>
<!--    <app-user></app-user>-->
  </div>
<!--</div>-->


