<body>
<div>
  <div id="root">
    <div>
      <p>TABLE----</p>
    </div>
    <div id="tableContainer" class="border-white border-5 table-position back-ground-black" style="margin-top: 24px">
      <table class="table text-white-50">
        <thead>
        <tr class="center-in-cell table-bordered ">
          <th scope="col">ФИО</th>
          <th scope="col">Должность</th>
          <th scope="col">Отдел</th>
          <th scope="col">Дата ИС</th>
          <th scope="col">Контрольные точки</th>
          <th scope="col">Статус ИС</th>
        </tr>
        </thead>

        <tbody>
        <tr class="center-in-cell" *ngFor="let colegue of colegues">
          <td>{{colegue.colleagueName}}</td>
          <td>{{colegue.positionId.def}}</td>
          <td>{{colegue.departmentId.def}}</td>
          <td>{{colegue.probationaryPeriodFrom}}-{{colegue.probationaryPeriodTo}}</td>
          <td width="content">
            <div class="points" id *ngFor="let point of controlPointsDef"
                 (click)="openPointDialog(colegue.id,point.id)"
                 [ngStyle]="{'border': getColorByStatus(colegue.id, point.id)}">
              {{point.time_def}}
            </div>
          </td>
          <td>
            <div class = "probation-status" (click)="openProbationStatusDialog(colegue.id)">
              {{colegue.probationStatusId.def}}
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
<!--<button color="primary" mat-button>Отмена</button>-->
<!--<button color="accent" mat-button>Отмена</button>-->
<!--<button color="warn" mat-button>Отмена</button>-->

