<div>
  <form>
    <span>Login</span>
    <div id="логин">
      <input name="login" type="text" placeholder="Слыш логин тут укажи"/>
    </div>
    <div id="пароль">
      <input name="password" type="" placeholder="Пароль или два стула"/>
    </div>
    <div id="Это ниже пароля">
      <div>
        <input id = "ckb1" type="checkbox" name="remember-me">
        <label for = "ckb1">" Remember me"
        </label>
      </div>
      <div>
        <a href="#">А че с паматью?</a>
      </div>
    </div>
    <div>
      <button>Ну ты заходи если че</button>
    </div>
  </form>

</div>
